.ipynb_checkpoints
*/.ipynb_checkpoints/*

/.quarto/
/_manuscript
/_freeze

/rv
/rv.lock
.RProfile
/notebooks/RStats/rv
/notebooks/RStats/.RProfile
/notebooks/RStats/rv.lock
/notebooks/PythonFigures/main.py
/notebooks/PythonFigures/.python-version
/notebooks/PythonFigures/uv.lock

/.venv/

/agujournal2019.cls
/trackchanges.sty
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

/notes.md

**/*.quarto_ipynb
